/* Header Styles */
header {
  height: 60px;
  background-color: aqua;
}

nav {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 35px;
}

/* Main styles */

main {
  display: flex;
}

/* Aside Styles */
aside {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 80vh;
  min-width: 300px;
  padding: 15px 10px;
  /* border-right: 1px solid red; */
  overflow: auto;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  margin-bottom: 30px;
}

form::after{
  content: '';
  width: 100%;
  height: 2px;
  border-bottom: 1px solid black;
  bottom: -10px;
  position: relative;
}

label {
  font-size: 30px;
}

.city-container {
  display: flex;
  flex-direction: column;
}

/* Information Container Styles */
.info-container {
  width: 100%;
  border: 1px solid blue;
  padding: 15px 10px;
}

/* Today Weather styles */
.day-container {
  border: 1px solid black;
  width: 80%;
  min-width: 1000px;
  padding: 15px 5px;
}

h2 {
  font-size: 30px;
}

/* Week Weather Styles */

.week-container {
  width: 100%;
  padding: 15px 5px;
}

.weekday-container{
  display: flex;
  justify-content: space-between;
  width: 80%;
  min-width: 1000px;
  padding: 15px 0px;
}

.day-card{
  height: 200px;
  width: 150px;
  border: 1px solid black;
  padding: 15px 5px;
}
